<%- include('../partials/head') %>

<div class="container">

    <h1>Edit Pantry</h1>
    
    <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT" method="POST">
        
        <label for="name">New Pantry name: </label>
        <input type="text" name="name" value="<%= pantry.name %>">
        
        <button type="submit" class="btn btn-primary">Update Pantry</button>

    </form>
</div>

<%- include('../partials/footer') %>